---
title: {{ properName }}
description: Kort beskrivning av {{ properName }}
---

import { PropTable } from "@site/src/components/propsTable";
import { ComponentHeader } from '@site/src/components/getComponentMetaData';
import { {{ properName }} } from '@midas-ds/components'

<ComponentHeader name={'{{ properName }}'}  friendlyName="Skriv svenska namn för komponenten" />

Kort beskrivning av {{ properName }}

```tsx
 // lägg in ett litet showcase på {{ componentName }}
```
<div className="card">
  <--! Implementation av showcase -->
</div>

## Installation

```bash npm2yarn
npm install @midas-ds/components
```

```tsx
import { {{ properName }} } from '@midas-ds/components'
```

## Riktlinjer

Kommer snart

## API

<PropTable name={'{{ properName }}'} />